<html>
    <body>
       
        <fieldset class="Tab1">
            <legend>
                <a href="Google.com">CNN</a>
            </legend>
            <div class="Box1"> 
        
                <nav class="Body">
                    <a href="{{Link}}
                    "Target="_blank">{{JoshuaD}}</a>
                    <br> <a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwjnuO7Sz7bxAhXmQTABHe3TD3wQPAgI
                    "Target="_blank">CP3 Shot from the two and swirled its way</a> 
                    <br><a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwjnuO7Sz7bxAhXmQTABHe3TD3wQPAgI
                    "Target="_blank">Reddd</a>
                    <br><a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwjnuO7Sz7bxAhXmQTABHe3TD3wQPAgI
                    "Target="_blank">Reddd</a>
                    <br><a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwjnuO7Sz7bxAhXmQTABHe3TD3wQPAgI
                    "Target="_blank">Reddd</a>
                    <br><a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwjnuO7Sz7bxAhXmQTABHe3TD3wQPAgI
                    "Target="_blank">Reddd</a>
                    <br><a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwjnuO7Sz7bxAhXmQTABHe3TD3wQPAgI
                    "Target="_blank">Reddd</a>
                    <br><a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwjnuO7Sz7bxAhXmQTABHe3TD3wQPAgI
                    "Target="_blank">Reddd</a>
                    <br><a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwjnuO7Sz7bxAhXmQTABHe3TD3wQPAgI
                    "Target="_blank">Reddd</a>
                    </nav>
            </div>
            
        </fieldset>
        <fieldset class="Tab2">
            <legend>
                <a href="Google.com">WSJ</a>
            </legend>
            <div class="Box1"> 
        
                <nav class="Body">
                    <a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwjnuO7Sz7bxAhXmQTABHe3TD3wQPAgI
                    "Target="_blank">Today, Google was found successful in the mets!</a>
                    <br> <a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwjnuO7Sz7bxAhXmQTABHe3TD3wQPAgI
                    "Target="_blank">CP3 Shot from the two and swirled its way</a> 
                    <br><a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwjnuO7Sz7bxAhXmQTABHe3TD3wQPAgI
                    "Target="_blank">Reddd</a>
                    <br><a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwjnuO7Sz7bxAhXmQTABHe3TD3wQPAgI
                    "Target="_blank">Reddd</a>
                    <br><a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwjnuO7Sz7bxAhXmQTABHe3TD3wQPAgI
                    "Target="_blank">Reddd</a>
                    <br><a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwjnuO7Sz7bxAhXmQTABHe3TD3wQPAgI
                    "Target="_blank">Reddd</a>
                    <br><a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwjnuO7Sz7bxAhXmQTABHe3TD3wQPAgI
                    "Target="_blank">Reddd</a>
                    <br><a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwjnuO7Sz7bxAhXmQTABHe3TD3wQPAgI
                    "Target="_blank">Reddd</a>
                    <br><a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwjnuO7Sz7bxAhXmQTABHe3TD3wQPAgI
                    "Target="_blank">Reddd</a>
                    </nav>
            </div>
        </fieldset>
        <fieldset class="Tab3">
            <legend>
                <a href="Google.com">Bloomberg</a>
            </legend>
            <div class="Box1"> 
        
                <nav class="Body">
                    <a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwjnuO7Sz7bxAhXmQTABHe3TD3wQPAgI
                    "Target="_blank">Today, Google was found successful in the mets!</a>
                    <br> <a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwjnuO7Sz7bxAhXmQTABHe3TD3wQPAgI
                    "Target="_blank">CP3 Shot from the two and swirled its way</a> 
                    <br><a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwjnuO7Sz7bxAhXmQTABHe3TD3wQPAgI
                    "Target="_blank">Reddd</a>
                    <br><a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwjnuO7Sz7bxAhXmQTABHe3TD3wQPAgI
                    "Target="_blank">Reddd</a>
                    <br><a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwjnuO7Sz7bxAhXmQTABHe3TD3wQPAgI
                    "Target="_blank">Reddd</a>
                    <br><a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwjnuO7Sz7bxAhXmQTABHe3TD3wQPAgI
                    "Target="_blank">Reddd</a>
                    <br><a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwjnuO7Sz7bxAhXmQTABHe3TD3wQPAgI
                    "Target="_blank">Reddd</a>
                    <br><a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwjnuO7Sz7bxAhXmQTABHe3TD3wQPAgI
                    "Target="_blank">Reddd</a>
                    <br><a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwjnuO7Sz7bxAhXmQTABHe3TD3wQPAgI
                    "Target="_blank">Reddd</a>
                    </nav>
            </div>
        </fieldset>
        
    </body>
</html>
